/**
* Copyright 2019 - Iranian Wikimedians Usergroup - See LICENSE
* Author(s): Mohammad Hosein Mazalahi (hi@mikey.ir)
* This website strictly follows design principles of Wikimedia Fundation.
* For more information please see https://design.wikimedia.org/
*/
@import url("https://fontlibrary.org/face/iranian-sans");
html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: #fff;
  direction: rtl;
  text-align: right;
  font-family: "IranianSansRegular", sans-serif;
}
  /** Header **/
  header {
    z-index: 200;
    position: static;
    overflow-x: hidden;
    display: block;
    width: 100%;
  }
  main {
    height: 300vh;
  }
  hr {
    margin: 0;
    border: 5px solid #2a4b8d;
  }
  nav {
    background-color: transparent;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  .header {
    background-color: #2a4b8d;
    color: #fff;
    display: flex;
    padding-left: 3rem;
  }
  .header-logo {
    max-height: 2rem;
    padding: 0.5rem;
  }
  .header span {
    line-height: 3rem;
    font-weight: bold;
  }
  nav a {
    background-color: #2a4b8d;
    line-height: 3rem;
    height: 100%;
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
    /* Animation */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }

  nav a:hover, nav a:focus, nav a:active {
    background-color: #eaf3ff;
    color: #2a4b8d;
  }
  /** Sections **/
  /* Imagine a World */
  #imagine-a-world {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Sheikhlotfolah.jpg/2000px-Sheikhlotfolah.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 70vh;
    padding-top: 30vh;
    padding-right: 10vw;
  }
  #imagine-a-world h1 {

    background-color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1vw;
    line-height: 200%;
  }
}
